[Desktop Entry]
Encoding=UTF-8
Name=Enlace a <Popoteitor 1000> Bill and Materials - Google Sheets
Type=Link
URL=https://docs.google.com/spreadsheets/d/1GLtOCIde5uscje3DoXqcxh7tF54nDZF1I-TraSEUvGM/edit#gid=0
Icon=text-html
Name[es_MX]=Popoteitor 1000. Bill and Materials - Google Sheets
